body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  section.active {
    display: block;
  }
  
  canvas {
    border: 1px solid black;
  }
  section {
    border: 11px solid hsl(var(--foreground-color));
    border-radius: 10px;
    box-shadow: 1 1 10px rgba(0, 0, 0, 0.5);
    padding: 1em;
    display: none;
  }