body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f4f4f4;
  }
  form {
    margin-bottom: 10px;
  }
  
  input, button {
    margin: 5px;
    padding: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    color:black;
    font-size: 20px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    cursor: pointer;
    background: #eee;
  }
  
  .teszteles{
    padding:50px;
  }